body{
    height: 100vh;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/**/
/*   LANDING PAGE*/
/**/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

#landing {
    background-color: aquamarine;
}

.flow-image-container {
    height: 60vh;
}

.flow-image {
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(40% - 100px);
}

.flow-text-container {
    height: 15vh;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.flow-dot-container {
    color: #fff;
    height: 5vh;
    text-align: center;
}

.flow-dot-container i {
    margin: 0 3vh;
}

.flow-btn-container {
    color: #fff;
    padding-right: 5vw;
    height: 10vh;
    text-align: right;
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/**/
/*   MAIN PAGE*/
/**/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

#main-menu {
    background-color: #202020;
}


/*
.health-chart {
	height: 20vh;
    margin: auto;
}
*/

.menu-container {
    min-height: 100%;
}

.menu-bar {
    height: 13.33vh;
    padding: 3px;
}

.unset-display {
	line-height: inherit !important;
}

.menu {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
    border-radius: 10px;
    height: 100%;
    padding-left: 10px;
    line-height: 13.33vh;
    display: block;
}

.my-profile-content {
    text-align: center;
}

.user-img {
    background: url(../img/user.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: auto;
	width: 100px;
    height: 100px;
    -webkit-box-shadow: inset 42px -15px 42px -17px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 42px -15px 42px -17px rgba(0,0,0,0.3);
    box-shadow: inset 42px -15px 42px -17px rgba(0,0,0,0.3);
}

.edit-badge{
    position: absolute;
    background: url(../img/edit.png) no-repeat center center;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    right:36vw;
    top:5vh;
    background-color:#fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-name {
	max-height: 32px;
    overflow: hidden;
}

.my-profile {
    padding-right: 25px;
    display: block !important;
    background: linear-gradient(to right, #FF6377, #FF6377 93%, #FF8797 21.33%, #FF8797 97%, #FFA8B4 66.66%);
}

.medicine-note {
    background: linear-gradient(to right, #00DBAA, #00DBAA 93%, #00EFB9 21.33%, #00EFB9 97%, #43FFD5 66.66%);
}

.sunnah-diet {
    background: linear-gradient(to right, #0FCEDD, #0FCEDD 93%, #15E2F2 21.33%, #15E2F2 97%, #4EF2FF 66.66%);
}

.ruqyah {
    background: linear-gradient(to right, #F7C72E, #F7C72E 93%, #FAD45D 21.33%, #FAD45D 97%, #FFE38B 66.66%);
}

.zikr-reminder {
    background: linear-gradient(to right, #69A62A, #69A62A 93%, #7CB82F 21.33%, #7CB82F 97%, #CEE4A3 66.66%);
}

.diagnosis {
    background: linear-gradient(to right, #DD5143, #DD5143 93%, #EF6C5A 21.33%, #EF6C5A 97%, #F38A78 66.66%);
}